Q1. Create one variable containing following type of data:

In [3]:
# (i) string
my_string = "Hello, World!"

In [5]:
# (ii) list
my_list = [1, 2, 3, 4, 5]

In [6]:
# (iii) float
my_float = 3.14

In [7]:
# (iv) tuple
my_tuple = (10, 20, 30, 40, 50)

Q2. Given are some following variables containing data:

var1: String
var2: String
var3: List
var4: Float

Q3. Explain the use of the following operators using an example:

(i) / (Division Operator)
(ii) % (Modulus Operator)
(iii) // (Floor Division Operator)
(iv) ** (Exponentiation Operator)

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [9]:
my_list = [42, "Hello", 3.14, True, [1, 2, 3], ('apple', 'orange'), {"key": "value"}, None, 5, 'Python']

for element in my_list:
    print(f"Element: {element}, Data Type: {type(element)}")

Element: 42, Data Type: <class 'int'>
Element: Hello, Data Type: <class 'str'>
Element: 3.14, Data Type: <class 'float'>
Element: True, Data Type: <class 'bool'>
Element: [1, 2, 3], Data Type: <class 'list'>
Element: ('apple', 'orange'), Data Type: <class 'tuple'>
Element: {'key': 'value'}, Data Type: <class 'dict'>
Element: None, Data Type: <class 'NoneType'>
Element: 5, Data Type: <class 'int'>
Element: Python, Data Type: <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

# Taking input for numbers A and B
A = int(input("Enter the value of A: "))
B = int(input("Enter the value of B: "))

# Initializing a count variable to keep track of the number of divisions
count = 0

# Using a while loop to check and count the number of divisions
while A >= B and A % B == 0:
    A = A / B
    count += 1

# Checking if A is purely divisible by B
if A == 1:
    print(f"{A} is purely divisible by {B}, and it can be divided {count} times.")
else:
    print(f"{A} is not purely divisible by {B}.")

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [12]:
# Creating a list of 25 integers
my_list = [4, 7, 12, 15, 18, 21, 24, 30, 33, 37, 42, 45, 48, 51, 55, 60, 63, 66, 70, 72, 75, 80, 84, 87, 90]

# Using a for loop to iterate through the list
for number in my_list:
    # Checking if the element is divisible by 3
    if number % 3 == 0:
        print(f"{number} is divisible by 3.")
    else:
        print(f"{number} is not divisible by 3.")

4 is not divisible by 3.
7 is not divisible by 3.
12 is divisible by 3.
15 is divisible by 3.
18 is divisible by 3.
21 is divisible by 3.
24 is divisible by 3.
30 is divisible by 3.
33 is divisible by 3.
37 is not divisible by 3.
42 is divisible by 3.
45 is divisible by 3.
48 is divisible by 3.
51 is divisible by 3.
55 is not divisible by 3.
60 is divisible by 3.
63 is divisible by 3.
66 is divisible by 3.
70 is not divisible by 3.
72 is divisible by 3.
75 is divisible by 3.
80 is not divisible by 3.
84 is divisible by 3.
87 is divisible by 3.
90 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.